{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">

                  {{ partial "navbar.html" . }}

                  <div class="themes-section">

                    {{ partial "hero.html" . }}

                    {{ partial "blog-post.html" . }}

                    {{ partial "featured-projects.html" . }}

                    {{ if isset .Params "logostoshow" }}
                    <section>
                      <h2>Clients</h2>
                      {{ partial "logos.html" . }}
                    </section>
                    {{ end }}

                  </div>

            </div>
        </div>

        {{ partial "footer.html" . }}
    </body>
    {{ partial "script.html" .}}
</html>
