{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">

                  {{ partial "navbar.html" . }}

                  <div class="themes-section">

                    {{ partial "hero.html" . }}

                    {{ partial "blog-post.html" . }}

                    <section>
                      <h2>Projects</h2>
                      <ul class="bullets">
                        <li class="bullet">
                          <div class="bullet-icon bullet-icon-1">
                            <img src="../images/ckan.png" alt="">
                          </div>
                          <div class="bullet-content">
                            <h2>CKAN</h2>
                            <p>CKAN is the world’s leading open-source data portal platform. It is a complete out-of-the-box software solution that makes data accessible – by providing tools to streamline publishing, sharing, finding and using data.</p>
                            </div>
                        </li>
                        <li class="bullet">
                          <div class="bullet-icon bullet-icon-2">
                            <img src="../images/os.png" alt="">
                          </div>
                          <div class="bullet-content">
                            <h2>OpenSpending</h2>
                            <p>OpenSpending is the largest open database of public financial information in the world, and maps spending in over 70 countries and more than 80 cities and regions around the world — from Belgium to Bosnia, Portugal to Puerto Rico.</p>
                          </div>
                        </li>
                        <li class="bullet">
                          <div class="bullet-icon bullet-icon-3">
                            <img src="../images/trial.png" alt="">
                          </div>
                          <div class="bullet-content">
                            <h2>OpenTrials</h2>
                            <p>OpenTrials is an open, online database of information about the world’s clinical research trials. It aims to locate, match, and share all publicly accessible data and documents, on all trials conducted, on all medicines and other treatments, globally.</p>
                          </div>
                        </li>
                      </ul>
                    </section>

                  </div>

            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
