{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">

                  {{ partial "navbar.html" . }}

                  <div class="themes-section">

                    {{ partial "hero.html" . }}

                    {{ partial "blog-post.html" . }}

                    {{ partial "featured-projects.html" . }}

                    {{ partial "logos.html" . }}

                  </div>

            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
