{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <div>
                  {{ partial "navbar.html" . }}

                  <section class="other-pages">

                    <article>
                      <div class="post-single">
                        <div class="post-heading">
                          <h1>{{ .Title }}</h1>
                          <p class="date">
                            {{ upper (.Date.Format "January 2, 2006") }}
                            {{ with .Params.author }}
                              by {{ upper . }}
                            {{ end }}
                          </p>
                        </div>
                        <div class="post-body">
                          <div class="news-content">
                            <p>{{ .Content }}</p>
                          </div>
                        </div>
                      </div>
                    </article>
                  </section>

                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
    {{ partial "script.html" .}}
</html>
