$small-screen: em(400);
$extra-large-screen: em(1280);

body {
  h2 {
    font-size: 1.6em;
    font-weight: 500;
  }
  p, a {
    font-size: 18px;
    color: #333;
    line-height: 1.625;
  }
  a {
    color: #0FB3FF;
  }
  a:visited {
    color: darken(#0FB3FF, 15%);
  }
  a:hover {
    text-decoration: underline;
  }
  ul, ol {
    margin-bottom: 2em;
  }
}

a.button {
  @extend button;
}

.content-wrapper {
  min-height: calc(100vh - 4.8em);
}
