{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <div>
                  {{ partial "navbar.html" . }}

                  <section class="other-pages-misc-special">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}

                  </section>

                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
    {{ partial "script.html" .}}
</html>
