{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">

                  {{ partial "navbar.html" . }}

                  <div class="themes-section">

                    <section>
                      <div class="side-image">
                        <div class="side-image-content">
                          <h1>{{ .Title }}</h1>
                          {{ with .Params.startend }}
                          <p class="date"><i class="icon ion-calendar"></i> {{ . }}</p>
                          {{ end }}
                          <p class="date"><i class="icon ion-link"></i> <a href="{{ .Params.website }}" target="_blank">{{ .Params.website }}</a></p>
                          <p class="content">{{ .Content }}</p>
                        </div>
                        <div class="images-wrapper" style="background-image: url({{ $.Site.BaseURL }}images/{{ .Params.imagepath }})"></div>
                      </div>
                    </section>

                  </div>

            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
    {{ partial "script.html" .}}
</html>
