{{ if isset .Params "themetoshow" }}
  {{ $theme := .Params.themetoshow }}
  <section id="next-section">
    <h2>Writings and Essays</h2>
    {{ $allposts :=  where .Site.Pages "Section" "post"}}
    {{ range first 3 (where $allposts "Params.themes" "intersect" $theme) }}

        <div class="comment">
          <div class="comment-image">
            <i class="icon ion-document"></i>
          </div>
          <div class="comment-content">
            <h3>{{ .Title }}</h3>
            <p>{{ .Summary }}</p>
            <a href="{{ .Permalink }}">Read full article <span>&rsaquo;</span></a>
          </div>
        </div>

    {{ end }}
  </section>
{{ end }}
