{{ if isset .Params "projectstoshow" }}
{{ $projectstoshow := .Params.projectstoshow }}
<section>
  <h2>Projects</h2>
  <ul class="bullets">
    {{ range where .Site.Pages "Section" "project" }}
    {{ $project := . }}
    {{ if in $projectstoshow $project.Title }}
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="{{ $.Site.BaseURL }}images/{{ $project.Params.logopath }}" />
      </div>
      <div class="bullet-content">
        <a href="{{ .Permalink }}"><h2>{{ $project.Title }}</h2></a>
        <p>
          {{ $project.Summary }}
          <a href="{{ .Permalink }}" class="button">Read more >></a>
        </p>
        </div>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</section>
{{ end }}
