<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">RUFUS POLLOCK</a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="icon ion-drag"></i>&nbsp;&nbsp;MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/about/">ABOUT</a></li>
        <li class="nav-link"><a href="/speaking/">SPEAKING</a></li>
        <li class="nav-link"><a href="/data-systems/">CONSULTING</a></li>
        <li class="nav-link"><a href="/project/">PROJECTS</a></li>
        <li id="js-navigation-more" class="nav-link more">
          <a href="javascript:void(0)">THEMES</a>
          <ul class="submenu">
            <li><a href="/information-economy/">INFORMATION ECONOMY</a></li>
            <li><a href="/data-systems/">DATA SYSTEMS</a></li>
            <li><a href="/wise-society/">WISE SOCIETY</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="/book/">BOOK</a></li>
        <li class="nav-link"><a href="/blog/">BLOG</a></li>
        <li class="nav-link"><a href="/contact/">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="navbar-margin"></div>
