<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li style= "font-size:21px; font-weight:500"class="nav-link"><a href="/">RUFUS POLLOCK</a></li>
        <li style= "font-size:14px;"class="nav-link"><a href="/about/">ABOUT</a></li>
        <li style= "font-size:14px;"class="nav-link"><a href="/speaking/">SPEAKING</a></li>
        <li style= "font-size:14px;"class="nav-link"><a href="/data-systems/">CONSULTING</a></li>
        <li style= "font-size:14px;"class="nav-link"><a href="/project/">PROJECTS</a></li>
        <li id="js-navigation-more" class="nav-link more" style= "font-size:14px;">
          <a href="javascript:void(0)">IDEAS</a>
          <ul class="submenu">
            <li><a href="/information-economy/">INFORMATION ECONOMY</a></li>
            <li><a href="/data-systems/">DATA SYSTEMS</a></li>
            <li><a href="/wise-society/">WISE SOCIETY</a></li>
          </ul>
        </li>
        <li style= "font-size:14px;"class="nav-link"><a href="/news/">NEWS</a></li>
        <li style= "font-size:14px;"class="nav-link"><a href="/contact/">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
