<!DOCTYPE html>
<html>
<head>
    <!-- Document Settings -->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/main.css" />
</head>

<body class="home-template">

  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li style= "margin-left:25px; font-size:21px; font-weight:500"class="nav-link"><a href="/">RUFUS POLLOCK</a></li>
          <li style= "font-size:14px;"class="nav-link"><a href="/about/">ABOUT</a></li>
          <li style= "font-size:14px;"class="nav-link"><a href="/speaking/">SPEAKING</a></li>
          <li style= "font-size:14px;"class="nav-link"><a href="/consulting/">CONSULTING</a></li>
          <li style= "font-size:14px;"class="nav-link"><a href="/open/">OPEN WORLD</a></li>
            <li style= "font-size:14px;"class="nav-link"><a href="/contact/">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="hero-content">
      <h2 style="color:#fff; font-size:70px;font-weight:300; margin-bottom:20px;">Rufus Pollock</h2>
          <h4 style="color:#fff; font-size:30px;font-weight:300; margin-bottom:20px;"> Founder and President of Open Knowledge</h4>
      <h4 style="color:#fff; font-size:25px;font-weight:300; margin-bottom:20px;"> Digital researcher, technologist and entrepreneur</h4>
      <a class="button" href="/about/"style="font-size:20px;margin-bottom:20px;margin-right:10px;">About</a>
      <a class="button" href="/consulting/"style="font-size:20px;margin-bottom:20px;margin-right:10px">Consulting</a>
      <a class="button" href="#front-page-2"style="font-size:20px;margin-bottom:20px;margin-right:10px">Speaker</a>
      <li>
      <a target="_blank" href="https://github.com/rgrp/"><i style="color:white; font-size:25px; margin-right:6px;" class="icon ion-social-github" ></i></a>
      <a target="_blank" href="https://twitter.com/@rufuspollock/"> <i style="color:white; font-size:25px; margin-right:6px;" class="icon ion-social-twitter" ></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/rufus-pollock-00a86348/"> <i style="color:white; font-size:25px; margin-right:6px;" class="icon ion-social-linkedin" ></i>
    </li></a>


    </div>
  </div>


<!---
<div class="flex-boxes">

  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    <h1 class="flex-title">Open Information</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati in provident illo.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="images/ok-festival-room-with-ok-logo-1024x700.jpg" alt="">
    <h1 class="flex-title">Last Flex Box Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
</div>
--->
<!---
<div class="side-image">
<div class="images-wrapper-3"></div>
  <div class="side-image-content">
    <h4>Wise society</h4>
    <h1>Message with a gradient image</h1>
    <p>From climate change to obesity it seems clear that our societies are less wise than we would like — or need. Wisdom can sound other-worldly. But we believe it can and should be eminently practical. That it offers a valuable way to frame an important and essential enquiry into how we can make our societies and institutions work better.

Wisdom is an idea that requires us to reflect on ends as well as means — where we are going as well as how to get there. For example, we focus a great deal on growth, but what kind of growth do we want and why do we want it? Conversely, lofty ideals are all very well, but without practical ways to turn them into reality they may be of little value.

</p>
</div>
</div>
--->
<div id="front-page-2" class="front-page-2">

  <div class="video">
    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/4nsVs87QGhQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="front-page-3" class="front-page-3">
  <div class="side-image">
    <div class="side-image-content">

      <h1>Open Information</h1>
      <p>How can we can build an open information age? And why should we do it? Will robots take all the jobs - and should we care? How to preserve freedom in a world of Googles and Facebooks who have the power to shape how we think and act? How can we harness the full power of digital tech for innovation and creativity? Concerned about growing inequality and the digital divide? Want to build an economy and society fit for the information age?

Open information is the biggest policy opportunity of the 21st century with answers for all of these questions. Openness is central not only to creating a more innovative and transparent society but to creating one which is fair, free, healthy and wealthy.
</p>
  </div>
  <div class="images-wrapper"></div>
  </div>

  <div class="side-image">
  <div class="images-wrapper-2"></div>
    <div class="side-image-content">
      <h1>Wise society</h1>
      <p>From climate change to obesity it seems clear that our societies are less wise than we would like — or need. Wisdom can sound other-worldly. But we believe it can and should be eminently practical. That it offers a valuable way to frame an important and essential enquiry into how we can make our societies and institutions work better.

Wisdom is an idea that requires us to reflect on ends as well as means — where we are going as well as how to get there. For example, we focus a great deal on growth, but what kind of growth do we want and why do we want it? Conversely, lofty ideals are all very well, but without practical ways to turn them into reality they may be of little value.

</p>
</div>
  </div>
  </div>





    </div>



    <div class="wrapper" style="margin-bottom:40px; margin-top:20px">
        <h2 style="color:#162935;; font-size:40px; margin-bottom:20px;">Fellow</h2>
        <img style="width:200px;margin-right:20px;" src="/images/ashoka_image_india02.jpg"/>
        <img style="width:100px;margin-right:20px;" src="/images/RSA-logo02.png"/>
        <img style="width:170px;margin-right:20px;" src="/images/shuttleworth02.jpg"/>
        <img style="width:150px;margin-right:20px;" src="/images/cambridge logo02.jpg"/>


<!---
  <footer class="site-footer">
      <div>
      {{ if .Site.Params.twitter }}
      <a href="http://twitter.com/{{ .Site.Params.twitter }}" title="Twitter"><span class="fa fa-tt fa-2x"></span></a>
      {{ end }}
      {{ if .Site.Params.bitbucket }}
      <a href="https://bitbucket.org/{{ .Site.Params.bitbucket }}" title="Bitbucket"><span class="fa fa-bitbucket fa-2x"></span></a>
      {{ end }}
      {{ if .Site.Params.github }}
      <a href="https://github.com/{{ .Site.Params.github }}" title="GitHub"><span class="fa fa-github fa-2x"></span></a>
      {{ end }}
      {{ if .Site.Params.flickr }}
      <a href="http://www.flickr.com/photos/{{ .Site.Params.flickr }}/" title="Flickr"><span class="fa fa-flickr fa-2x"></span></a>
      {{ end }}

      {{ if .Site.Params.linkedin }}
     <a href="http://no.linkedin.com/in/{{ .Site.Params.linkedin }}/en" title="Linkedin"> <i class='fa fa-ll fa-2x'></i></a>
      {{ end }}
      {{ if .Site.Params.email }}
      <a href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}"> <i class='fa fa-envelope-o fa-2x'></i></a>
      {{ end }}
      </div>
      <div class="inner">
           <section ><a href="http://ghostscroll.grmmph.com/">HugoScroll</a> theme by <a href="http://fredrikloch.me">Fredrik</a>.<br>
            Proudly published with <a class="i-ghost" href="http://gohugo.io">Hugo</a></section>
      </div>
  </footer>
--->

</body>
</html>
