{{ partial "head.html" . }}

<body class="home-template">

  {{ partial "navbar.html" . }}

  <div class="hero">
    <div class="hero-content">
      <h1>Rufus Pollock</h1>
      <h3> Founder and President of Open Knowledge</h3>
      <h4> Digital researcher, technologist and entrepreneur</h4>
      <a class="button" href="/about/">About</a>
      <a class="button" href="/data-systems/">Consulting</a>
      <a class="button" href="/speaking/">Speaking</a>
      <p>
      <a target="_blank" href="https://github.com/rgrp/"><i class="icon ion-social-github" ></i></a>
      <a target="_blank" href="https://twitter.com/@rufuspollock/"> <i class="icon ion-social-twitter" ></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/rufus-pollock-00a86348/"> <i class="icon ion-social-linkedin" ></i></a>
    </div>

    <div class="call-to-action">
      <p>More</p>
      <p class="arrow-down"><a onclick="scrollDown()" href="#next-section"><i class="ion-chevron-down"></i></a></p>
    </div>
  </div>

  <section id="next-section">
    <div class="video">
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/15L7i0201ms" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-text">
        <h3>Rufus Pollock</h3>
        <p>Rufus Pollock is an entrepreneur, researcher and technologist working to create an open information age. Founder and President of Open Knowledge, a leading international non-profit that empowers people and organizations with access to information and the tools and skills to make sense of it. A recognized global expert on open data and open knowledge. He has worked with multiple governments, IGOs such as the World Bank and the UN, businesses and CSOs.</p>
      </div>
    </div>
  </section>

  <section>

    <div class="side-image">
      <div class="images-wrapper" style="background-image: url({{ $.Site.BaseURL }}images/background-information-square.jpg)"></div>
      <div class="side-image-content">
        <h2>Information Economy</h2>
        <p>How can we can build an open information age? And why should we do it?
          Will robots take all the jobs - and should we care? How to preserve freedom
          in a world of Googles and Facebooks who have the power to shape how we think
          and act? How can we harness the full power of digital tech for innovation and
          creativity? Concerned about growing inequality and the digital divide? Want to
          build an economy and society fit for the information age? Open information is
          the biggest policy opportunity of the 21st century with answers for all of
          these questions. Openness is central not only to creating a more innovative
          and transparent society but to creating one which is fair, free, healthy and wealthy.
        </p>
        <a class="button" href="/information-economy/">Read more >></a>
      </div>
    </div>

    <div class="side-image">
      <div class="side-image-content">

        <h2>Wise Society</h2>
        <p>From climate change to obesity it seems clear that our societies are less wise
          than we would like — or need. Wisdom can sound other-worldly. But we believe it
          can and should be eminently practical. That it offers a valuable way to frame an
          important and essential enquiry into how we can make our societies and institutions
          work better. Wisdom is an idea that requires us to reflect on ends as well as means
          — where we are going as well as how to get there. For example, we focus a great deal
          on growth, but what kind of growth do we want and why do we want it? Conversely,
          lofty ideals are all very well, but without practical ways to turn them into reality
          they may be of little value.
        </p>
        <a class="button" href="/wise-society/">Read more >></a>
      </div>
      <div class="images-wrapper" style="background-image: url({{ $.Site.BaseURL }}images/background-wise-square.jpg)"></div>
    </div>

    <div class="side-image">
      <div class="images-wrapper" style="background-image: url({{ $.Site.BaseURL }}images/background-data-systems-square.jpg)"></div>
      <div class="side-image-content">
        <h2>Data Systems</h2>
        <p>Who would you want to diagnose your cancer scan? An expert doctor or a data-driven
          algorithm? What about who you hire? Or your advertising spend? You might be surprised
          by the answers, And the answers are more relevant today than ever before because data
          is everywhere. And it comes in a bewildering variety of forms -- from big to open,
          personal to real-time, and many more. We hear of data-driven decisions and data-driven
          organizations, data deficits and data gaps, data strategies and data officers. But how
          can data actually make a difference to you and your organization? Or, for that matter,
          to our society? Where can you get real value -- and what's just snake oil? In this talk
          we will go beyond the hype and buzzwords. We will delve into how and why data can make
          a real difference to you and your work -- as well the practical pitfalls and challenges.
        </p>
        <a class="button" href="/data-systems/">Read more >></a>
      </div>
    </div>

  </section>


  <section class="fellow">
    <h2>Fellow</h2>
    <ul class="logo-section">
      <li><img class="wider-logo" src="/images/ashoka_image_india.jpg" alt="" /></li>
      <li><img class="square-logo" src="/images/RSA-logo.png" alt="" /></li>
      <li><img class="wider-logo" src="/images/shuttleworth.jpg" alt="" /></li>
      <li><img class="wide-logo" src="/images/cambridge logo.jpg" alt="" /></li>
    </ul>
  </section>

  {{ partial "script.html" . }}

</body>
</html>
