// main.scss - the entry point
@charset "utf-8";

$mm_maxWidth: 380px;

//@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

@import
  "normalize",
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "icons/icons",
  "refills/typography"
;

$small-screen: em(400);
$extra-large-screen: em(1280);

body {
  h2 {
    font-size: 1.6em;
    font-weight: 500;
  }
  a {
    color: #0FB3FF;
  }
  a:visited {
    color: darken(#0FB3FF, 15%);
  }
  a:hover {
    text-decoration: underline;
  }
}

a.button {
  @extend button;
}

.content-wrapper {
  min-height: calc(100vh - 4.8em);
}


// =======================================================
// navigation
@import "refills/navigation";
header.navigation {
  $navigation-height: 60px;
  $horizontal-bar-mode: $large-screen;
  $navigation-submenu-width: 12em;
  $container: 90%;

  .navigation-wrapper {
    @include outer-container($container);
  }

  li.more {
    > a {
      &::after {
        font-size: 1em;
      }
    }
  }

  ul.submenu {
    li {
      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.6;
      }

      a {
        @include media($horizontal-bar-mode) {
          width: $navigation-submenu-width * 1.3;
        }
      }
    }
  }
}

// ========================================================
// front page
.home-template {
  @import "refills/hero";
  .hero {
    align-items: center;
    background: url("../images/Rufus_Pollock_2.jpeg");
    background-position: right;
    background-size: none;
    background-repeat: no-repeat;
    display: block;
    justify-content: center;
    min-height: 38em;
    padding: 2em 5%;

    @include media($large-screen) {
      background-position: left;
      background-size: cover;
      justify-content: flex-end;
      padding: 12em 5%;
    }

    .hero-content {
      max-width: 35em;
      color: white;
      h1, h3, h4 {
        margin-bottom:20px;
        font-weight: 300;
      }
      h1 {
        font-size: 4em;
        font-weight: 300;
      }
      a.button{
        margin: 25px 10px 20px 0;
        border: 1px solid #fff;
        border-radius: 0;
        color: white;
      }
      a {
        i {
          color: white;
          font-size:25px;
          margin-right:6px;
        }
      }
    }

    .call-to-action {
      @include position(absolute, 88% null null 25%);
      @include size(50% 12%);
      p {
        color: white;
        text-align: center;
        align-items: center;
        margin: 0;
        //font-size: 0.9em;
      }
      .arrow-down {
        font-size: 2.6em;
        a {
          color: white;
        }
        @include media($large-screen) {
          font-size: 2.6em;
        }
      }
    }
  }

  #next-section {
    min-height: 500px;
  }

  .video {
    $large-screen: 50em !default;
    overflow: hidden;
    position: relative;
    margin-bottom: 3em;
    .video-wrapper {
      margin-bottom: 15vh;
      embed,
      object,
      iframe {
        @include position(7vh null null 0);
        @include size(100vw 56.2vw);
        @include media($large-screen) {
          @include position(13vh null null calc(50vw - 420px));
          @include size(854px 480px);
        }
      }
    }
    .video-text {
      margin-bottom: 2em;
      text-align: left;
      padding: 0 5%;
      @include media($large-screen) {
        padding: 0;
        @include position(2em null null 28vw);
        @include size(44vw null);
      }
    }
  }

  .fellow {
    @include outer-container(90%);
    padding-top: 3em;
    @import "refills/logos.scss";
  }

  .side-image {
    $base-line-height: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $large-screen: 53.75em !default;
    $base-font-color: $dark-gray !default;
    $side-image-background-top: #B5EBEB;
    $side-image-background-bottom: #5DAC5D;
    $side-image-content-background: #F9F9F9;
    $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

    background: white;
    div.images-wrapper.last {
      display: none;
    }

    @include media($large-screen) {
      @include row(table);
      div.images-wrapper.last {
        display: table-cell;
      }
    }

    .images-wrapper {
      background: url("../images/wise.jpg"),
                  linear-gradient($side-image-background-top, $side-image-background-bottom),
                  no-repeat $side-image-background-top scroll;
      background-color: $side-image-background-top;
      background-size: 100vw 100vw;
      min-height: 100vw;
      @include media($large-screen) {
        background-size: cover;
        padding: 3em;
        min-height: 12em;
      }
      display: block;

      @include media($large-screen) {
        @include span-columns(6);
        background-position: right;
        background-size: cover;
      }
    }

    .side-image-content {
      @include span-columns(12);
      padding: 1em 1em 4em 1em;

      @include media($large-screen) {
        @include span-columns(6);
        padding: 4em 5% 8em 5%;
      }

      h2 {
        margin-bottom: 0.9em;
        //font-size: 1.9em;
      }

      h4 {
        background: #BBB;
        color: white;
        display: inline-block;
        font-size: 0.75em;
        margin-bottom: 1.3em;
        padding: 3px 8px;
        text-transform: uppercase;
      }

      p {
        color: $base-font-color;
        line-height: $base-line-height;
        margin-bottom: 3em;
      }

      a.button {
        color: black;
        border: 1px solid black;
        background-color: white;
        border-radius: 0;
        font-weight: normal;
      }
    }

    @include reset-display();
  }
}

// ========================================================
// other pages

// about page
.page-content > :first-child {
  min-height:400px;
}

.post-content {
  @include span-columns(12);
  @include media($large-screen) {
    @include span-columns(10);
    @include shift(1);
  }

  &:nth-child(n+2) {
    padding-top:$base-spacing / 2;
  }
  &:last-child {
    margin-bottom:50px;
  }

  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($extra-large-screen) {
    .mm-opening & {
      @include shift(0);
    }
  }
}

// ========================================================
// Themes - Information Economy

.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 5.5em;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;
  margin-top: 3em;

  .bullet {
    flex-basis: 20em;
    flex-grow: 1;
    @include media($large-screen) {
      max-width: 33.33%;
      padding: 0 2em;
    }
  }

  .bullet-icon {
    display: flex;
    background: white;
    margin-bottom: 2em;
    img {
      height: 15%;
      padding: 0;
      width: 15%;
    }
    a {
      text-decoration: none;
    }
    h2 {
      display: flex;
      width: 100%;
      font-size: $icon-bullet-size / 3.5;
      padding: 0;
      margin: 0 0 0 10%;
      color: $dark-gray;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .bullet-image {
    @include size(100% 150px);
    overflow: hidden;
    border: 1px solid $dark-gray;
    margin-bottom: 1em;
  }

  .bullet-content {
    margin-bottom: 2em;
  }

  .bullet-video {
    padding: 0;
    iframe {
      @include size(340px 191px);
    }
  }

  .bullet-video-content {
    @include size(340px auto);
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

// small bullets
.bullets-small {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 5.5em;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;
  margin-top: 3em;

  .bullet-small {
    flex-basis: 20em;
    flex-grow: 1;
    @include media($large-screen) {
      max-width: 25%;
      padding: 0 2em;
    }
  }

  .bullet-icon-small {
    display: flex;
    background: white;
    margin-bottom: 2em;
    img {
      height: 15%;
      padding: 0;
      width: 15%;
    }
    a {
      text-decoration: none;
    }
    h2 {
      display: flex;
      width: 100%;
      font-size: $icon-bullet-size / 4.5;
      padding: 0;
      margin: 0 0 0 10%;
      color: $dark-gray;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .bullet-image-small {
    @include size(100% 150px);
    overflow: hidden;
    border: 1px solid $dark-gray;
    margin-bottom: 1em;
  }

  .bullet-content-small {
    margin-bottom: 2em;
  }

  li {
    list-style: none;
  }

  p {
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

// writings & essays
@import "refills/comment";
.comment {
  @include media($large-screen) {
    width: 70%;
  }

  .comment-image {
    padding-right: 2.4em;
    i {
      font-size: 4em;
    }
  }
}

.themes-section {
  @import "refills/logos";
  $container: 95%;
  $dark-gray: #333 !default;

  .newhero {
    $large-screen: 50em !default;
    min-height: 88vh;
    background-position: none;
    background-size: none;
    position: relative;

    @include media($large-screen) {
      @include row(table);
      background-position: left;
      background-size: cover;
      justify-content: flex-end;
    }

    .hero-body {
      @include outer-container($container);
      padding: 2em 2em 6em 2em;
      @include media($large-screen) {
        min-height: 88vh;
        align-items: center;
        display: flex;
        justify-content: flex-start !important;

      }


      .hero-content {
        width: 100%;
        display: block;
        @include media($large-screen) {
          @include span-columns(6);
          max-width: 30em;
          text-align: left;
        }
        p {
          font-weight: normal;
        }
        a {
          margin: 1.35em 0.5em 0 0;
          border-radius: 0;
          color: white;
        }
      }

      .video {
        @include span-columns(12);
        iframe {
          margin: 2em 0;
          @include size(80vw 44.96vw);
          @include media($large-screen) {
            margin: 0;
            @include size(533px 300px);
          }
        }
        @include media($large-screen) {
          @include span-columns(6);
          @include shift(1.5);
        }
      }

      @include reset-display();
    }

    .call-to-action {
      width: 50%;
      position: absolute;
      left: 25%;
      top: 90%;
      @include media($large-screen) {
        height: 12%;
        top: 88%;
      }
      p {
        text-align: center;
        align-items: center;
        margin: 0;
      }
      .arrow-down {
        font-size: 2.6em;
        a {
          color: $dark-gray;
        }
      }
    }
  }

  section {
    padding: 3em 0 0 0;
    @include outer-container($container - 5%);
  }

  .side-image {
    $large-screen: 53.75em !default;
    background: white;
    @include media($large-screen) {
      @include row(table);
    }

    .images-wrapper {
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      border: 1px solid #e4e4e4;
      min-height: 12em;
      @include media($large-screen) {
        @include span-columns(10);
        background-position: center;
      }
    }

    .side-image-content {
      @include span-columns(12);
      padding: 1em 1em 4em 1em;
      h1 {
        margin-bottom: 0.25em;
      }
      p {
        margin-bottom: 0.25em;
      }
      .content {
        margin-top: 1.75em;
      }

      @include media($large-screen) {
        @include span-columns(8);
        padding: 0em 4em 0em 0em;
      }
    }

    @include reset-display();
  }

  .links {
    $base-line-height: 1.5em !default;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: $base-line-height;
    overflow: auto;
    padding: 0;
    margin-top: 3em;

    .link {
      flex-basis: 30em;
      flex-grow: 1;
      max-width: 50%;
    }
  }

  .event {
    $base-spacing: 1.5em !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $event-gutter: 1.4em;
    $event-image-width: 25em;
    $event-image-vert-alignment: top;
    display: table;
    margin-bottom: $base-spacing;
    margin-top: $base-spacing * 2;
    padding-bottom: 1em;
    width: 90%;
    .event-content {
      display: table-cell;
      vertical-align: $event-image-vert-alignment;
    }
    .event-image {
      display: none;
      @include media($large-screen) {
        display: table-cell;
      }
      vertical-align: $event-image-vert-alignment;
      padding-right: $event-gutter;
      > img {
        display: block;
        height: auto;
        max-width: none;
        width: $event-image-width;
      }
    }
    .event-content {
      width: 100%;
    }
  }

}

section.other-pages {
  @include outer-container(90%);
  @import "refills/logos.scss";
  @include media($large-screen) {
    max-width: 700px;
  }
  padding-top: 3em;
  .news {
    .single-news {
      padding: 2em 2.5em 2em 2em;
      margin: 0 0 1em 0;
      border: 1px solid #e4e4e4;
    }
  }
  .post-single {
    max-width: 700px;
  }
  form > input, form > textarea {
    border-radius: 0;
  }
}

@import "refills/footer";
.footer-2 {
  padding: 1.5em 5%;
  background: white;
  border-top: 1px solid darken(#fff, 10);
  ul li {
    color: #333;
  }

  ul li a {
    color: #333;
    text-decoration: none;

    &:focus,
    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
  .footer-secondary-links {
    ul li a {
      line-height: 1.8em;
    }
  }
}

div.toc {
  margin-bottom: 1em;
  hr {
    border: 1px solid darken(#fff, 10);
    width: auto;
  }
}
