// main.scss - the entry point
@charset "utf-8";

$mm_maxWidth: 380px;

@import
  "normalize",
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "icons/icons"
;

$small-screen: em(400);
$extra-large-screen: em(1280);

a {
  color: #0FB3FF;
  text-decoration: underline;
}

a.button {
  @extend button;
}

.post {
  font-family: $serif;
  @include outer-container;
  text-align:center;

  .post-content {
    text-align:left;

    h1 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 0.5em;
      color:black;

      @include media($medium-screen) {
        font-size: 2.6em;
      }
    }

    code,
    p code {
      background: $light-gray;
      border-radius: $base-border-radius * 1.5;
      border: 1px solid $medium-gray;
      font-family: $monospaced;
      font-size: 0.75em;
      font-style: normal;
      padding: 0.1em 0.4em;
      white-space: nowrap;

      strong {
        font-family: $monospaced;
      }
    }

    pre,
    .panel {
      border-radius: $base-border-radius * 1.5;
      border: 1px solid $medium-gray;
      margin-left:- $base-spacing;
      margin-right:- $base-spacing;

      code {
        white-space: pre-wrap;
        background-color: transparent;
        border:none;
        padding:0;
      }
    }

    h2 {
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;;
      font-size: 1.4em;
      line-height: 1.3em;
      margin-bottom: .4em;
      font-weight:700;
      color:black;
    }

    h3 {
      font-size: 1.4em;
      font-family: $serif;
      font-weight: 400;
      margin-bottom: .4em;
    }

    h4 {
      font-size: 1.2em;
      margin-bottom: .4em;
      color:black;
    }

    h5 {
      margin-bottom: .4em;
    }

    h6 {
      display:inline;
    }

    p.date {
      color: transparentize($base-font-color, .6);
      font-family: $serif;
      font-size: rem(13);
      font-style: italic;
      margin-bottom: 0.3em;
    }

    p {
      font-family: $serif;
      font-size: rem(15);
      line-height: 1.6em;
      margin-bottom: 1.5em;
    }

    ul {
      @extend %default-ul;
    }

    ol {
      @extend %default-ol;
    }

    p,
    li {
      strong {
        font-family: $sans-serif;
        font-weight: 700;
      }
    }

    a.read-more {
      display: inline-block;
      font-family: $sans-serif;
      font-size: 0.8em;
      font-weight: 700;
      margin-left: 0.2em;
      position: relative;
      text-transform: uppercase;

      span {
        font-family: $serif;
        font-size: 1.5em;
        font-style: normal;
        position: absolute;
        right: -12px;
        top: -1px;
      }
    }

    hr {
      width: 3em;
    }

    .author {
      font-family: $serif;
      font-style: italic;
      margin-top:-1em;
      margin-bottom: 1.5em;

      ul {
        display:inline;
        padding:0;

        li {
          display:inline;

          &:after {
            content:',';
          }

          &:nth-last-child(2):after {
            content:' &';
          }

          &:last-child:after {
            content:'.';
          }
        }
      }
    }

    .note {
      background-color:rgba($base-accent-color, 0.1);
      padding:$base-spacing;
      margin-left:- $base-spacing;
      margin-right:- $base-spacing;
      margin-bottom: $base-spacing;
      font-family:$sans-serif;

      h6 {
        background-color:rgba($base-accent-color, 0.6);
        margin-top: - $base-spacing;
        margin-right: - $base-spacing;
        margin-bottom: $base-spacing / 2;
        margin-left: - $base-spacing;
        padding: $base-spacing / 3 $base-spacing $base-spacing / 3 $base-spacing;
        color:#fff;
        display:block;
      }

      p  {
        font-family:$sans-serif;
      }

      :last-child {
        margin-bottom:0;
      }
    }

    .footnotes {
      border-top:solid 1px $medium-gray;
      font-size: 12px;
      padding-top:5px;
      margin-top:$base-spacing;

      p {
        font-size: 12px;
      }
    }
  }
}

header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $navigation-padding: 1em;
  $navigation-background: #fff;
  $navigation-color: transparentize(black, 0.3);
  $navigation-color-hover: black;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(black, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu.fly-out-right {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @include media($horizontal-bar-mode) {
        left: -$navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }
}

// ========================================================
// front page

.hero {
  $large-screen: 50em !default;
  align-items: center;
  background: url("../images/Rufus_Pollock_2-1024x684.jpeg");
  background-position: right;
  background-size: none;
  display: block;
  justify-content: center;
  min-height: 7em;
  padding: 2em;

  @include media($large-screen) {
    background-position: left;
    background-size: cover;
    justify-content: flex-end;
  }


  .hero-content {
    margin-top:12em;
    margin-bottom:10em;
    max-width: 35em;
    text-align: center;

    .button{
      margin-top: 25px;
      border: 1px solid #fff;
    }

    @include media($large-screen) {
      text-align: left;
    }
  }

  .hero-logo {
    margin: auto;
  }
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}

.side-image {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    background: url("../images/wise.jpg"),
                linear-gradient($side-image-background-top, $side-image-background-bottom),
                no-repeat $side-image-background-top scroll;
    background-color: $side-image-background-top;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(6);
      background-position: bottom;
      background-size: cover;

    }
  }

  .images-wrapper-2 {
    background: url("../images/DSC_9088bw_Sarah_Hickson.jpg"),
                linear-gradient($side-image-background-top, $side-image-background-bottom),
                no-repeat $side-image-background-top scroll;
    background-color: $side-image-background-top;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(6);
      background-position: bottom;
      background-size: cover;

    }
  }

  .images-wrapper-3 {
    background: url("../images/6.jpg"),
                linear-gradient($side-image-background-top, $side-image-background-bottom),
                no-repeat $side-image-background-top scroll;
    background-color: $side-image-background-top;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(6);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(6);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }
  }

  @include reset-display();
}


// ========================================================
// other pages

// about page
.page-content > :first-child {
  min-height:400px;
}

.post-content {
  @include span-columns(10);
  @include shift(1);

  &:nth-child(n+2) {
    padding-top:$base-spacing / 2;
  }
  &:last-child {
    margin-bottom:50px;
  }

  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($extra-large-screen) {
    .mm-opening & {
      @include shift(0);
    }
  }
}

// consulting and projects page
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors:
    desaturate($action-color, 30%),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 22em;

  @include clearfix;

  .grid-item {
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    outline: none;
    overflow: hidden;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;


        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
    display: block;
    height: 3em;
    margin: 0 auto 1em;
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }

  .grid-item p {
    color: #5E5D5E;
    line-height: 1.5em;
    margin:auto;
    margin-top:10em;

    @include media($medium-screen) {
      max-width: 100%;
    }
  }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }

    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  .grid-item-image {
    background: url("/images/ckan.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image-2 {
    background: url("/images/AET.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image-3 {
    background: url("/images/os.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image-4 {
    background: url("/images/other06.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image-5 {
    background: url("/images/frcitionless.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image-6 {
    background: url("/images/Open-Knowledge-logo-design-johnson-banks-16.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-item-image-7 {
    background: url("/images/atomatic03.jpg");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


// ========================================================
// Themes - Information Economy

// Bourbon Refills: bullets (unchanged)
.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;

  .bullet {
    flex-basis: 20em;
    flex-grow: 1;
  }

  .bullet-icon {
    background: black;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: black;
  }

  .bullet-icon-2 {
    background:black;
  }

  .bullet-icon-3 {
    background:#00FFF9;
  }

  .bullet-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size * 1.4;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

.themes-section {
   background-color: black;
   $container: 85%;

  .newhero {
    $large-screen: 50em !default;
    align-items: center;
    // the one item we've changed
    background: #47e5ba;
    background-position: right;
    background-size: none;
    display: flex;
    justify-content: center;
    min-height: 25em;
    padding: 2em;

    @include media($large-screen) {
      background-position: left;
      background-size: cover;
      justify-content: flex-end;
    }

    .hero-content {
      max-width: 30em;
      text-align: center;

      @include media($large-screen) {
        text-align: left;
      }
    }
  }

  .bullets {
    @include outer-container($container);
  }
}
