{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <div>
                  {{ partial "navbar.html" . }}

                  <section class="other-pages">
                    <h1>{{ .Title }}</h1>
                    {{ .Content | markdownify }}
                    <article>
                      <section class="news">
                        {{ range first 5 (where .Site.Pages "Section" "post") }}
                        <div class="single-news">
                          <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                          <div class="news-body">
                            <div class="news-content">
                              <p class="date"><i class="icon ion-calendar"></i> {{ .Date.Format "2 January 2006" }}</p>
                              <p>{{ .Summary | markdownify }}</p>
                            </div>
                          </div>
                        </div>
                        {{ end }}
                        <div class="single-news">
                          <div class="news-body">
                            <div class="news-content">
                              <a href="all">All posts ...</a>
                            </div>
                          </div>
                        </div>
                      </section>
                    </article>
                  </section>

                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
    {{ partial "script.html" .}}
</html>
