{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">

                  {{ partial "navbar.html" . }}

                  <div class="themes-section">

                    <section class="next-section">
                      <h2>Featured projects</h2>
                      <ul class="bullets">
                        {{ range where .Data.Pages.ByWeight.Reverse "Section" "project" }}
                        {{ if eq .Params.featured true }}
                        <li class="bullet">
                          <div class="bullet-icon">
                            <img src="{{ $.Site.BaseURL }}images/{{ .Params.logopath }}" />
                          </div>
                          <div class="bullet-content">
                            <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                            <p>
                              {{ .Summary }}
                              <a href="{{ .Permalink }}" class="read-more">Read more</a>
                            </p>
                          </div>
                        </li>
                        {{ end }}
                        {{ end }}
                      </ul>
                    </section>

                    <section>
                      <h2>More projects</h2>
                      <ul class="bullets-small">
                        {{ range where .Data.Pages "Section" "project" }}
                        {{ if ne .Params.featured true }}
                        <li class="bullet-small">
                          <div class="bullet-icon-small">
                            <img src="{{ $.Site.BaseURL }}images/{{ .Params.logopath }}" />
                          </div>
                          <div class="bullet-content-small">
                            <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                            <p>
                              {{ .Summary }}
                              <a href="{{ .Permalink }}" class="read-more">Read more</a>
                            </p>
                          </div>
                        </li>
                        {{ end }}
                        {{ end }}
                      </ul>
                    </section>

                  </div>

            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
