{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">

                  {{ partial "navbar.html" . }}

                  <div class="themes-section">

                    {{ partial "featured-projects.html" . }}

                    <section>
                      <h2>More projects</h2>
                      <ul class="bullets-small">
                        {{ range where .Data.Pages "Section" "project" }}
                        {{ if ne .Params.featured true }}
                        <li class="bullet-small">
                          <div class="bullet-icon-small">
                            <img src="{{ $.Site.BaseURL }}images/{{ .Params.logopath }}" />
                            <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                          </div>
                          <div class="bullet-image-small">
                            <img src="{{ $.Site.BaseURL }}images/{{ .Params.imagepath }}" alt="">
                          </div>
                          <div class="bullet-content-small">
                            {{ if gt (len .Summary) 60 }}
                              {{ slicestr .Summary 3 60 }}...
                            {{ else }}
                              {{ .Summary }}...
                            {{ end }}
                            <a href="{{ .Permalink }}">read more <span>&rsaquo;</span></a>
                          </div>
                        </li>
                        {{ end }}
                        {{ end }}
                      </ul>
                    </section>

                  </div>

            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
