{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">

                  {{ partial "navbar.html" . }}

                  <div class="themes-section">

                    <div class="newhero" style="background: #{{ .Params.backgroundcolor }}">
                      <div class="hero-body">

                        <div class="hero-content">
                          <h1> {{ .Title }} </h1>
                          {{ .Content }}
                          {{ range .Params.buttons }}
                            <a class="button" href="{{ .link }}" target="{{ .target }}">{{ .title }}</a>
                          {{ end }}
                        </div>

                        <div class="video">
                          <iframe width="450" height="253" src="{{ .Params.videourl }}" frameborder="0" allowfullscreen></iframe>
                        </div>

                      </div>

                      <div class="call-to-action">

                        <p>More videos</p>
                        <p class="arrow-down"><a onclick="scrollDown()" href="#next-section"><i class="ion-chevron-down"></i></a></p>

                      </div>
                    </div>

                    <section id="next-section">
                      <h2>Speaking next</h2>
                      {{ $theme := .Params.themetoshow }}
                      {{ range where .Site.Pages "Params.themes" "intersect" $theme }}
                      {{ $date := time .Params.eventdate }}
                      {{ if ge $date.Unix .Now.Unix }}
                      {{ $.Scratch.Set "event" true }}
                      <div class="event">
                        <div class="event-content">
                          <h3>{{ .Params.venue }}</h3>
                          <p class="date">
                            <i class="icon ion-calendar"></i> {{ $date.Format "2 January 2006" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-location"></i> {{ .Params.location }}
                            <br>
                            <a href="{{ .Params.link }}" target="_blank">more about venue</a>
                          </p>
                          <p>{{ .Summary }}</p>
                          <a href="{{ .Permalink }}">Read full post <span>&rsaquo;</span></a>
                        </div>
                        <div class="event-image">
                          <img src="{{ with .Params.image }}{{ $.Site.BaseURL }}images/{{ . }}{{ else }}../images/pen.png{{ end }}">
                        </div>
                      </div>
                      {{ end }}
                      {{ end }}
                      {{ if ne ($.Scratch.Get "event") true }}
                        <p>No upcoming events.<p>
                      {{ end }}
                    </section>

                    <section>
                      <h2>More videos</h2>
                      <ul class="bullets">
                        <li class="bullet">
                          <div class="bullet-video">
                            <iframe src="https://www.youtube.com/embed/15L7i0201ms?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                          </div>
                          <div class="bullet-video-content">
                            <p class="read-more">Rufus Pollock - We Shift</p>
                          </div>
                        </li>
                        <li class="bullet">
                          <div class="bullet-video">
                            <iframe src="https://www.youtube.com/embed/6cRtbA_d4RI?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                          </div>
                          <div class="bullet-video-content">
                            <p class="read-more">Open Data: How We Got Here and Where We're Going by Rufus Pollock</p>
                          </div>
                        </li>
                        <li class="bullet">
                          <div class="bullet-video">
                            <iframe src="https://www.youtube.com/embed/gWRTzg05Tmk?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                          </div>
                          <div class="bullet-video-content">
                            <p class="read-more">Rufus Pollock | The Long Struggle for Open Knowledge</p>
                          </div>
                        </li>
                      </ul>
                    </section>

                    <section>
                      <h2>Where I Spoke</h2>
                      {{ partial "logos.html" . }}
                    </section>

                  </div>

            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
    {{ partial "script.html" .}}
</html>
