{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">

                  {{ partial "navbar.html" . }}

                  <div class="themes-section">

                    <div class="newhero" style="background-image: url({{ $.Site.BaseURL }}images/{{ .Params.backgroundpath }})">
                      <div class="hero-body">

                        <div class="hero-content">
                          <h1> {{ .Title }} </h1>
                          {{ .Content }}
                          {{ range .Params.buttons }}
                            <a class="button" href="{{ .link }}" target="{{ .target }}">{{ .title }}</a>
                          {{ end }}
                        </div>

                        <div class="video">
                          <iframe width="450" height="253" src="{{ .Params.videourl }}" frameborder="0" allowfullscreen></iframe>
                        </div>

                      </div>

                      <div class="call-to-action">

                        <p>More videos</p>
                        <p class="arrow-down"><a onclick="scrollDown()"><i class="ion-chevron-down"></i></a></p>

                      </div>
                    </div>

                    <section class="next-section">
                      <h2>Speaking next</h2>
                      {{ $theme := .Params.themetoshow }}
                      {{ range where .Site.Pages "Params.themes" "intersect" $theme }}
                      {{ $date := time .Params.eventdate }}
                      {{ if ge $date.Unix .Now.Unix }}
                      <div class="event">
                        <div class="event-content">
                          <h3>{{ .Params.venue }}</h3>
                          <p class="subheading"><i class="icon ion-calendar"></i> {{ $date.Format "2 January 2006" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-location"></i> {{ .Params.location }}</p>
                          <p class="subheading"><a href="{{ .Params.link }}" target="_blank">more about venue</a></p>
                          <p>{{ .Content }}</p>
                        </div>
                        <div class="event-image">
                          <img src="{{ with .Params.image }}{{ $.Site.BaseURL }}images/{{ . }}{{ else }}../images/pen.png{{ end }}">
                        </div>
                      </div>
                      {{ end }}
                      {{ end }}
                    </section>

                    <section>
                      <h2>More videos</h2>
                      <ul class="links">
                        {{ range .Site.Data.video.speaking.talks.videolinks }}
                        <li class="link">
                          <div>
                            <a href="{{ .link }}" target="_blank">{{ .title }}</a>
                          </div>
                        </li>
                        {{ end }}
                      </ul>
                    </section>

                    <section>
                      <h2>Where I Spoke</h2>
                      <ul class="logo-section">
                        {{ range .Params.logostoshow }}
                        <li><img class="{{ .wideness }}" src="{{ $.Site.BaseURL }}images/{{ .source }}" alt="" /></li>
                        {{ end }}
                      </ul>
                    </section>

                  </div>

            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
